*.tar.xz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.rpm filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.rom filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.rom filter=lfs diff=lfs merge=lfs -text
*.efi filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.vpd filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.rtf filter=lfs diff=lfs merge=lfs -text
*.BIN filter=lfs diff=lfs merge=lfs -text
*.sbin filter=lfs diff=lfs merge=lfs -text
*.swi filter=lfs diff=lfs merge=lfs -text
*.pcap filter=lfs diff=lfs merge=lfs -text
*.txt.gz filter=lfs diff=lfs merge=lfs -text
*.amot filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bit filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.powerucd filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.axsvf filter=lfs diff=lfs merge=lfs -text
*.xsvf filter=lfs diff=lfs merge=lfs -text
*.xcvf filter=lfs diff=lfs merge=lfs -text
*.abit filter=lfs diff=lfs merge=lfs -text
*.arbf filter=lfs diff=lfs merge=lfs -text
*.avme filter=lfs diff=lfs merge=lfs -text
*.linux filter=lfs diff=lfs merge=lfs -text
*.odp filter=lfs diff=lfs merge=lfs -text
jed2eca filter=lfs diff=lfs merge=lfs -text
mmc filter=lfs diff=lfs merge=lfs -text
i386_18 filter=lfs diff=lfs merge=lfs -text
p4 filter=lfs diff=lfs merge=lfs -text
p4d filter=lfs diff=lfs merge=lfs -text
p4p filter=lfs diff=lfs merge=lfs -text
p4web filter=lfs diff=lfs merge=lfs -text
lzma filter=lfs diff=lfs merge=lfs -text
tacc/bootstraptacc.* filter=lfs diff=lfs merge=lfs -text
tacc/bootstraptacc filter=lfs diff=lfs merge=lfs -text
bstacc/bootstraptacc filter=lfs diff=lfs merge=lfs -text